<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mappers.AddressMapper">
 
   <select id="getAddressById" parameterType="int" resultType="Address">
     SELECT  *
     FROM Address 
     WHERE addressId = #{addressId} AND activeInd!=0
  </select> 
  
   <resultMap type="Address" id="AddressResult">
    <id property="addressId" column="addressId"/>
    <result property="addr1" column="addr1"/>
    <result property="addr2" column="addr1"/>
    <result property="addr3" column="addr3"/>
    <result property="city" column="city"/>  
    <result property="state" column="state"/> 
    <result property="pin" column="pin"/>
    <result property="createdDate" column="createdDate"/> 
    <result property="updatedDate" column="updatedDate"/> 
    <result property="activeInd" column="activeInd"/> 
   </resultMap>
 
   <select id="getAllAddress" resultMap="AddressResult">
   SELECT * FROM ADDRESS WHERE activeInd !=0
  </select> 
 
  <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="addressId">
   INSERT INTO ADDRESS(
             addressPersonId,addr1, addr2, addr3, city, state,pin, createdDate, 
            updatedDate, activeInd)
    VALUES(#{addressPersonId},#{addr1}, #{addr2}, #{addr3}, #{city}, #{state},#{pin}, current_date, #{updatedDate}, #{activeInd})
  </insert>
 
   <update id="updateAddress" parameterType="Address">
    UPDATE ADDRESS 
    SET
     addressId= #{addressId},
     addr1 = #{addr1},
     addr2 = #{addr2},
     addr3 = #{addr3},
     city = #{city},
     state = #{state},
     pin = #{pin},
     updatedDate = current_date
     
    WHERE addressId = #{addressId}
  </update>
 
  <delete id="deleteAddress" parameterType="java.lang.Integer">
    UPDATE ADDRESS SET updatedDate=current_date,activeInd=0 WHERE addressId = #{addressId}
  </delete> 

</mapper>