<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mappers.MarksMapper">
 
   <select id="getMarksById" parameterType="int" resultType="Marks">
     SELECT  *
     FROM Marks 
     WHERE marksId = #{marksId} AND activeInd!=0
  </select> 
  
   <resultMap type="Marks" id="MarksResult">
    <id property="marksId" column="marksId"/>
    <result property="subjectId" column="firstName"/>
    <result property="middleName" column="middleName"/>
    <result property="lastName" column="lastName"/>
    <result property="dob" column="dob"/>  
    <result property="sex" column="sex"/> 
    <result property="createdDate" column="createdDate"/> 
    <result property="updatedDate" column="updatedDate"/> 
    <result property="activeInd" column="activeInd"/> 
   </resultMap>
 
   <select id="getAllMarks" resultMap="MarksResult">
   SELECT * FROM PERSON WHERE activeInd !=0
  </select> 
 
  <insert id="insertMarks" parameterType="Marks" useGeneratedKeys="true" keyProperty="marksId">
   INSERT INTO PERSON(
             firstName, middleName, lastName, dob, sex, createdDate, 
            updatedDate, activeInd)
    VALUES(#{firstName}, #{middleName}, #{lastName}, #{dob}, #{sex}, current_date, #{updatedDate}, #{activeInd})
  </insert>
 
   <update id="updateMarks" parameterType="Marks">
    UPDATE PERSON 
    SET
     marksId= #{marksId},
     firstName = #{firstName},
     middleName = #{middleName},
     lastName = #{lastName},
     dob = #{dob},
     sex = #{sex},
     updatedDate = current_date
     
    WHERE marksId = #{marksId}
  </update>
 
  <delete id="deleteMarks" parameterType="java.lang.Integer">
    UPDATE PERSON SET updatedDate=current_date,activeInd=0 WHERE marksId = #{marksId}
  </delete> 

</mapper>