<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mappers.MarksMapper">
 
   <select id="getMarksById" parameterType="int" resultType="Marks">
     SELECT  *
     FROM Marks 
     WHERE marksId = #{marksId} AND activeInd!=0
  </select> 
  
   <resultMap type="Marks" id="MarksResult">
    <id property="marksId" column="marksId"/>
    <result property="subjectId" column="subjectId"/>
    <result property="studentId" column="studentId"/>
    <result property="mark" column="mark"/>
    <result property="grade" column="grade"/>
    <result property="createdDate" column="createdDate"/> 
    <result property="updatedDate" column="updatedDate"/> 
    <result property="activeInd" column="activeInd"/> 
   </resultMap>
 
   <select id="getAllMarks" resultMap="MarksResult">
   SELECT * FROM MARKS WHERE activeInd !=0
  </select> 
 
  <insert id="insertMarks" parameterType="Marks" useGeneratedKeys="true" keyProperty="marksId">
   INSERT INTO MARKS(
             subjectId, studentId, mark, grade, createdDate, 
            updatedDate, activeInd)
    VALUES(#{subjectId}, #{studentId}, #{mark}, #{grade}, current_date, #{updatedDate}, #{activeInd})
  </insert>
 
   <update id="updateMarks" parameterType="Marks">
    UPDATE MARKS 
    SET
     marksId= #{marksId},
     subjectId = #{subjectId},
     studentId = #{studentId},
     mark = #{mark},
     grade = #{grade},
     updatedDate = current_date
     
    WHERE marksId = #{marksId}
  </update>
 
  <delete id="deleteMarks" parameterType="java.lang.Integer">
    UPDATE MARKS SET updatedDate=current_date,activeInd=0 WHERE marksId = #{marksId}
  </delete> 

</mapper>