<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mappers.StudentMapper">
 
   <select id="getStudentById" parameterType="int" resultType="Student">
     SELECT *
     FROM Student 
     WHERE studentId = #{studentId} AND activeInd!=0
  </select>
  
  <select id="getStudentsByDivisionId" parameterType="int" resultType="Student">
     SELECT *
     FROM Student 
     WHERE divisionId = #{divisionId} AND activeInd!=0
  </select>
  
  <select id="getStudentsByAdmissionNumber" parameterType="int" resultType="Student">
     SELECT *
     FROM Student 
     WHERE admissionNumber = #{admissionNumber} AND activeInd!=0
  </select>
  
  <select id="getStudentsByRegisterNumber" parameterType="int" resultType="Student">
     SELECT *
     FROM Student 
     WHERE registerNumber = #{registerNumber} AND activeInd!=0
  </select>
  
   <resultMap type="Student" id="StudentResult">
    <id property="studentId" column="studentId"/>
    <result property="studentPersonId" column="studentPersonId"/>
    <result property="registerNumber" column="registerNumber"/>
    <result property="admissionNumber" column="admissionNumber"/>
    <result property="studentAddressId" column="studentAddressId"/>
    <result property="divisionId" column="divisionId"/>
    <result property="markId" column="markId"/>
    <result property="createdDate" column="createdDate"/> 
    <result property="updatedDate" column="updatedDate"/> 
    <result property="activeInd" column="activeInd"/> 
   </resultMap>
 
   <select id="getAllStudent" resultMap="StudentResult">
   SELECT * FROM STUDENT WHERE activeInd !=0
  </select> 
 
  <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="studentId">
   INSERT INTO STUDENT( studentPersonId, registerNumber, admissionNumber, 
            studentAddressId,markId,divisionId, createdDate, updatedDate, activeInd)
    VALUES(#{studentPersonId}, #{registerNumber}, #{admissionNumber}, #{studentAddressId},#{markId},#{divisionId}, current_date, #{updatedDate}, #{activeInd})
  </insert>
 
   <update id="updateStudent" parameterType="Student">
    UPDATE STUDENT 
    SET 
    registerNumber= #{registerNumber},
    admissionNumber= #{admissionNumber}, 
    studentAddressId= #{studentAddressId},
    markId= #{markId},
    divisionId= #{divisionId},
    updatedDate = current_date
    WHERE 
    studentId=#{studentId}
  </update>
 
  <delete id="deleteStudent" parameterType="java.lang.Integer">
    UPDATE STUDENT SET updatedDate=current_date,activeInd=0 WHERE studentId = #{studentId}
  </delete> 

</mapper>